<div class="pokedex">
  <div class="pokedex_inside">

    <div class="lights">
      <div class="lights_container__big">
        <div class="lights_light__big blue">
          <div class="lights_dot__big light-blue"></div>
        </div>
      </div>
      <div class="lights_container__small">
        <div class="lights_light__small red">
          <div class="lights_dot__small light-red"></div>
        </div>
        <div class="lights_light__small yellow">
          <div class="lights_dot__small light-yellow"></div>
        </div>
        <div class="lights_light__small green">
          <div class="lights_dot__small light-green"></div>
        </div>
      </div>
    </div>

    <div class="screen">
      <div class="screen_container">
        <div class="screen_pokemon" [style.background-image]="'url('+image+')'"></div>
      </div>
    </div>

    <div class="details">
      <div class="details_container">
        <div class="details_name">
          <span>{{ name }}</span>
        </div>
        <div>
          <div>
            <button (click)="scan()" class="lights_container__big light-blue button_camera">
              <img src="/assets/camera.svg" alt="Camera Icon" height="40" width="40" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<input #cameraInput style="display: none;" type="file" accept="image/*" capture="environment" (change)="search($event)"/>
